---
import { Code } from "astro:components";
import fs from "node:fs/promises";

interface Props {
	file: string;
	language?: string;
	meta?: string;
}

const { file, language } = Astro.props;
const filePath = "../" + file;
const fileExtension = file.split(".").pop() ?? "toml";
const code = await fs.readFile(filePath, "utf-8");
const lang = language ?? fileExtension;
---

<figure class="code-file">
	<div class="code-file-header">
		<span class="code-file-name">{file}</span>
	</div>
	<Code code={code} lang={lang} theme="dracula" />
</figure>
